<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= t(:edit_resource, scope: [:common], resource: Veterinarian.model_name.human) %></h3>
<% end %>

<%= render 'form', veterinarian: @veterinarian %>

<%= link_to 'Show', @veterinarian %> |
<%= link_to 'Back', veterinarians_path %>
