<% content_for :breadcrumbs do %>
  <h3>Editing Veterinarian</h3>
<% end %>

<%= render 'form', veterinarian: @veterinarian %>

<%= link_to 'Show', @veterinarian %> |
<%= link_to 'Back', veterinarians_path %>
