<% content_for :breadcrumbs do %>
  <h3>Editing Veterinary</h3>
<% end %>

<%= render 'form', veterinary: @veterinary %>

<%= link_to 'Show', @veterinary %> |
<%= link_to 'Back', veterinaries_path %>
