<% content_for :breadcrumbs do %>
  <%= link_to Veterinary.model_name.human(count: 2), veterinaries_path, { class: 'breadcrumbs__item' } %>
  <i class="breadcrumbs__separator icon">chevron_right</i>
  <h3 class="breadcrumbs__item breadcrumbs__item--active"><%= t(:new_resource, scope: [:common], resource: Veterinary.model_name.human) %></h3>
<% end %>

<%= render 'form', veterinary: @veterinary %>
