<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title"><%= t(:new_resource, scope: [:common], resource: Veterinary.model_name.human) %></h3>
<% end %>

<%= render 'form', veterinary: @veterinary %>

<%= link_to 'Back', veterinaries_path %>
