@import 'variables';

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__item {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 3.33333334;
    margin: 0;
    margin-right: $default-spacing / 2;
    padding: 0;
    color: $color-text-inverted;

    &:hover {
      text-decoration: none;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &--active {
      font-weight: 500;
    }
  }

  &__separator {
    font-size: 2rem;
    margin-right: $default-spacing / 2;
  }
}
