@import 'variables';

.flash {
  background-color: $color3;
  color: $color-body;
  padding: 1rem 1.5rem;
  margin-bottom: $default-spacing;
  border-radius: $default-border-radius;

  a {
    color: $color4;
  }

  &--notice {
    background-color: $color5;
    @extend %dissapear;
  }
  &--success {
    background-color: $color1;
    @extend %dissapear;
  }
  &--error {
    background-color: $color2;
  }
  &--alert {
    color: $color-text;
    font-weight: 500;
    background-color: $color8;

    a {
      color: $color-text;
    }
  }

  &__close {
    position: relative;
    right: 0;
    margin-left: $default-spacing;

    background-color: transparent;
    font-size: 2rem;
    line-height: 1;
    width: auto;
    color: $color-body;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__container {
    position: fixed;
    left: 2rem;
    bottom: 1rem;
    z-index: 50;
  }
}

%dissapear {
  animation: cssAnimationDissapear 0s ease-in 5s forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimationDissapear {
  to {
    width:0;
    height:0;
    padding: 0;
    margin: 0;
    overflow:hidden;
  }
}
