%upcase-first-letter {
  display: inline-block;
  &::first-letter {
    text-transform: capitalize;
  }
}

%fade-paragraph {
  margin: 0;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -3rem;
    width: 15rem;
    height: 1.6rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}

.titleize {
  @extend %upcase-first-letter;
}
