@import 'variables';

.nav {
  &__item {
    display: inline-block;
    width: 100%;
    white-space: nowrap;

    &--active {
      font-weight: 400;

      & a {
        color: $color1;
      }
    }
  }

  &__item-icon {
    margin-right: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-text;
    padding: 0 $default-spacing;
    line-height: 4rem;

    &:hover {
      text-decoration: none;
      background-color: $color4;
    }
  }

  &__item-label {
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
