@import 'variables';

p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.42857143;
}

p {
  margin: 0 0 1rem 0;
}

pre {
  background-color: $color4;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.81818182;
}

a {
  text-decoration: none;
  color: $color1;

  &:hover {
    text-decoration: underline;
  }
}

th {
  padding-bottom: .5rem;
}

td {
  padding: 0 .5rem .7rem;
}

.exams-list-item {
  margin-left: $default-spacing;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.7647058824;
  margin: 0 0 $default-spacing 0;
}

.category {
  margin: 0 0 $default-spacing 0;
  padding-bottom: calc(#{$default-spacing} - 1px);
  border-bottom: 1px solid $color-border;

  &:last-child {
    border-bottom: none;
    padding-bottom: $default-spacing;
  }
}
