$color1: #087e8b;
$color2: #ff5a5f;
$color3: #3c3c3c;
$color4: #f5f5f5;
$color5: #a9b2ac;
$color7: #1C1C1C;
$color8: #EDC8AA;
$color9: #ffffff;
$color10: lighten($color5, 20%);
$color11: #2589BD;
$color12: #EDAE49;
$color13: darken($color5, 20%);

$color-cta: $color11;
$color-body: $color4;
$color-text: $color3;
$color-text-inverted: $color-body;
$color-border: $color10;
$color-form-border: $color3;
$color-form-input: $color9;
$color-danger: $color2;

$default-spacing: 1rem;
$drawer-width: 18rem;
$drawer-width-small: 4.5rem;
$top-bar-height: 4rem;
$default-border-radius: 2px;
