$color1: #087e8b;
$color2: #ff5a5f;
$color3: #3c3c3c;
$color4: #f5f5f5;
$color5: #a9b2ac;
$color7: #3C3C3C;
$color8: #EDC8AA;
$color9: #ffffff;

$color-body: $color4;
$color-text: $color7;
$color-text-inverted: $color-body;
$color-border: $color5;
$color-form-border: $color7;
$color-form-input: $color9;
$color-danger: $color2;

$default-spacing: 1rem;
$drawer-width: 18rem;
$drawer-width-small: 4.5rem;
$top-bar-height: 4rem;
$default-border-radius: 2px;
