<% content_for :breadcrumbs do %>
  <h3 class="top-bar__title">Editing Admission</h3>
<% end %>

<%= render 'form', admission: @admission %>

<%= link_to 'Show', @admission %> |
<%= link_to 'Back', admissions_path %>
