<% content_for :breadcrumbs do %>
  <%= link_to Admission.model_name.human(count: 2), admissions_path, { class: 'breadcrumbs__item' } %>
  <i class="breadcrumbs__separator icon">chevron_right</i>
  <h3 class="breadcrumbs__item breadcrumbs__item--active"><%= t(:new_resource, scope: [:common], resource: Admission.model_name.human) %></h3>
<% end %>

<%= render 'form', admission: @admission %>
